{%load static%}
<html>
    <head>
        <script src="{% static 'extras/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'extras/bootstrap.min.css' %}">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <script src="{% static 'extras/bootstrap.min.js' %}"></script>
        
    </head>
    <body>


        <div class="container" style="margin-top: 8%;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">     
                    <div class="row">
                        <div id="logo" class="text-center">
                            <h1>DIGITAL BOOKS</h1><p>Your Online Library</p>
                        </div>  
                        <div class="form-group">
                            <div class="input-group">
                                <input id="myInput" class="form-control" type="text" placeholder="Search..." required/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" id="Search">Search</button>
                                    </span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 0.5em;">
                <div class="text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" id="modal_button" data-toggle="modal" data-target="#exampleModal">
                        Top 5
                    </button>
                </div> 
            </div>

            <div class="row mt-2" style="margin-top: 0.5em;">
                <table class="table table-bordered" id="demo">
                </table>
            </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Top 5 Liked Books</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="Modal_Place">
                    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
        

        <script>

            var place
            var like_button
            var ourData
            var btn
            var Top5
            var modal
            
            window.onload = function() {
                btn = document.getElementById("Search")
                place = document.getElementById("demo");
                modal = document.getElementById("Modal_Place")
    
                $("#modal_button").hide()
            
                btn.addEventListener("click", function(){
                    
            
                    var ourRequest = new XMLHttpRequest();
                    var inputval= document.getElementById("myInput").value;
                    ourRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q='+inputval)
                    
                    ourRequest.onload= function () {
                        ourData = JSON.parse(ourRequest.responseText)
                        try{
                            renderHTML(ourData)
                        }
                        catch (err){
                            
                        }
                    };
                    ourRequest.send()
            
                })  
            }   

                function Modal_Check(top5, index){
                    const title = top5.items[i].book.title
                    const author = top5.items[i].book.author
                    const likes = top5.items[i].book.likes

                    if (top5.items[index].book.title == undefined)
                        return ""
                    else
                        return "<p>"+title+" by "+author+" with<b> "+likes+" </b>likes</p>"
                }

                function RenderModal(top5){

                    var modal_data = ""

                    for (i = 0 ; i < top5.items.length ; i++){
                        modal_data += Modal_Check(Top5,i)
                    }

                    modal.innerHTML = modal_data
                }

                function AuthorHandling(author) {
                        if (author == undefined){
                            var AuthorArray = ["Unknown"]
                            return AuthorArray
                        }
                        else
                            return author
                }

                function NoAuthor(author) {
                    if (author == undefined){
                        return "Author Not Found"
                    }
                    else
                        return author
                }
                
                function renderHTML(data) {
                    var table="<thead><tr><th>Cover</th><th>Description</th></tr></thead><tbody>";

                    for (i = 0; i < data.items.length; i++) {
                        const image = data.items[i].volumeInfo.imageLinks.smallThumbnail
                        const title = data.items[i].volumeInfo.title
                        const author = NoAuthor(data.items[i].volumeInfo.authors)
                        const publisher = data.items[i].volumeInfo.publisher
                        const date_pub = data.items[i].volumeInfo.publishedDate
                        const desc = data.items[i].volumeInfo.description
                        const prev_link = data.items[i].volumeInfo.previewLink
                        const info_link = data.items[i].volumeInfo.infoLink

                        table += "<tr><td>" + 
                        "<img src='"+ image +"'>"+ "</td><td>" +
                        "<b>Title:</b> "+title+"<br>"+
                        "<b>Author:</b> "+author+"<br>"+
                        "<b>Publisher:</b> "+publisher+"<br>"+
                        "<b>Published Date:</b> "+date_pub+"<br>"+
                        "<b>Description:</b> "+desc+"<br>"+
                        "<b>Preview Link:</b> "+prev_link+"<br>"+
                        "<b>Info Link:</b> "+info_link
                        + "</td>";
                        
                        table += "<td style='text-align : center;'><button class='btn btn-default btn-sm' onclick='save"+ i +"()' name='like'>Like</button></td></tr>";
                    }
                    table += "</tbody>" 
                    place.innerHTML = table;
                    
                    // NOT WORKING CODE TO INCREMENT VALUES OF LIKE_LIST
                    // for (i = 0 ; i < like_button.length ; i++){
                    //     like_button[i].addEventListener("click", function(){
                    //         like_list[i]++
                    //         renderHTML(ourData)
                    //     })
                    // }
                        
                }
            
                // SAVE FUNCTIONS FOR THE BUTTONS --------------------------------------------
                function save0(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[0].volumeInfo.title,
                        author : AuthorHandling(ourData.items[0].volumeInfo.authors)
                    },
                    type: 'POST',
                    
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save1(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[1].volumeInfo.title,
                        author : AuthorHandling(ourData.items[1].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save2(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[2].volumeInfo.title,
                        author : AuthorHandling(ourData.items[2].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save3(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[3].volumeInfo.title,
                        author : AuthorHandling(ourData.items[3].volumeInfo.authors)
                    },
                    type: 'POST',
                    
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }

                    })
                }
            
                function save4(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[4].volumeInfo.title,
                        author : AuthorHandling(ourData.items[4].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save5(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[5].volumeInfo.title,
                        author : AuthorHandling(ourData.items[5].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save6(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[6].volumeInfo.title,
                        author : AuthorHandling(ourData.items[6].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save7(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[7].volumeInfo.title,
                        author : AuthorHandling(ourData.items[7].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save8(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[8].volumeInfo.title,
                        author : AuthorHandling(ourData.items[8].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
            
                function save9(evt) {
                    $("#modal_button").show()
                    renderHTML(ourData)
                $.ajax({
                    url: '/',
                    data: {
                        title: ourData.items[9].volumeInfo.title,
                        author : AuthorHandling(ourData.items[9].volumeInfo.authors)
                    },
                    type: 'POST',
                    success : function(){
                        alert("Like Successful")
                        $.get("/json/", function(json_response){
                        Top5 = json_response;
                        RenderModal(Top5)
                        });
                    }
                })
                }
                // SAVE FUNCTIONS FOR THE BUTTONS --------------------------------------------

                
            
            </script>
    </body>
</html>


